@font-face {
	font-family: 'Samsung Sans';
	font-style: normal;
	font-weight: normal;
	src: local( 'Samsung Sans Regular' ), url( '../fonts/SamsungSans-Regular.woff' ) format( 'woff' );
}

body {
	font-family: 'Samsung Sans';
}

* {
	-webkit-backface-visibility: hidden;
	text-shadow: none;
}

.navbar {
	height: 48px;
}

	.navbar .center,
	.subnavbar .center {
		line-height: 48px;
		font-size: 17px;
	}

.content-block,
.list-block {
	margin-top: 16px;
	margin-bottom: 16px;
}

.item-content {
	padding-left: 0px;
}

.button {
	text-transform: none;
	height: 38px;
	line-height: 38px;
}

.list-block .input-item .item-inner:not(.focus-state):not(.not-empty-state) .floating-label,
.list-block.inputs-list .item-inner:not(.focus-state):not(.not-empty-state) .floating-label {
	-webkit-transform: scale( 1.2 ) translateY( 21px );
	transform: scale( 1.2 ) translateY( 21px );
}

.list-block input[type="text"],
.list-block input[type="password"],
.list-block input[type="search"],
.list-block input[type="email"],
.list-block input[type="tel"],
.list-block input[type="url"],
.list-block input[type="date"],
.list-block input[type="datetime-local"],
.list-block input[type="time"],
.list-block input[type="number"],
.list-block select,
.list-block textarea {
	font-size: 14px;
}

.account_setup_form {
	margin-left: -16px;
	margin-right: -16px;
}

.account_setup_form > ul:before {
	display: none;
}

.item-media i {
	opacity: 0.4;
}

.modal {
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ( 0 ) scale( 1.0, 1.0 );
    transform: translateZ( 0 );
	font-smoothing: antialiased !important;
}

	.modal-inner {
		padding: 16px;
	}

		.modal-title {
			font-size: 17px;
		}

		.modal-text {
			margin-top: 16px;
			font-size: 14px;
		}
